In [117]:
# The code was removed by Watson Studio for sharing.

# Coursera capstone project

In [118]:
import pandas as pd
import numpy as np

In [121]:
print ("Hello Capstone Project Course!")

Hello Capstone Project Course!

In [122]:
# The code was removed by Watson Studio for sharing.

# Reading file from project

In [96]:
# Fetch the file
neighborhoods = project.get_file("neighborhoods.csv")

# Read the CSV data file from the object storage into a pandas DataFrame
neighborhoods.seek(0)
df = pd.read_csv(neighborhoods)
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

# Deleting cell with Borough as Not assigned

In [97]:
df = df[df['Borough'] != 'Not assigned' ]

In [102]:
df.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M6A        North York  Lawrence Heights
6      M6A        North York    Lawrence Manor

# Grouping with same postcode for two neighbourhood

In [123]:
df.groupby('Postcode').agg({'Borough':'first', 
                             'Neighbourhood': ', '.join }).head()

              Borough                           Neighbourhood
Postcode
M1B       Scarborough                          Rouge, Malvern
M1C       Scarborough  Highland Creek, Rouge Hill, Port Union
M1E       Scarborough       Guildwood, Morningside, West Hill
M1G       Scarborough                                  Woburn
M1H       Scarborough                               Cedarbrae

# Assigning Borough if neighbourhood is not assigned

In [104]:
df[df.Neighbourhood == 'Not assigned']

  Postcode       Borough Neighbourhood
7      M7A  Queen's Park  Not assigned

In [124]:
df.loc[df['Neighbourhood'] == 'Not assigned','Neighbourhood'] = np.NaN

In [126]:
df.Neighbourhood.fillna(df.Borough, inplace=True)

In [127]:
df[df.Postcode == 'M7A']

  Postcode       Borough Neighbourhood
7      M7A  Queen's Park  Queen's Park

# printing shape

In [116]:
df.shape

(210, 3)